.projects {
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.projectCards {
		display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.featureButton {
    margin-left: 1.5rem;
    border: none;
    border-radius: 14px;
    text-align: center;
    display: inline-block;
    padding: 16px 25px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.featureButton:hover {
    background-color: #093A3E;
    color: white;
    cursor: pointer;
}
.activeButton {
    background-color: #093A3E;
    color: white;
    cursor: pointer;
}
@media (max-width: 768px) {
    .projects{
        flex-wrap: wrap;
    }
    .featureButton{
        padding: 8px 14px;
    }
}