.image {
    height: 20rem;
    border: 5px rgba(0, 0, 0, 0.25);
}

.projectImage {
    height: 20rem;
    width: 100%;
}

.title {
    padding: 20px 10px;
    font-size: 1.5rem;
}

.projectText {
    font-size: 1.2rem;
    padding: 0 0 10px;
}

.projectTechnology {
    font-size: 1.1rem;
    font-weight: bold;
}

.demoButton {
    margin-top: 10px;
    margin-right: 20px;
    border: none;
    border-radius: 14px;
    text-align: center;
    display: inline-block;
    padding: 16px 25px;
    font-weight: bold;
    font-size: 1em;
}

.demoButton:hover {
    background-color: #093A3E;
    color: white;
    cursor: pointer;
}
