.skills {
    /* margin-top: 8rem; */
        /* gap: 1rem; */

    margin-top: 8rem;
    /* margin-left: 15rem; */
    /* margin-right: 15rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    gap: 1rem;

}
.skillCard {
    padding: 5px 0 10px 10px;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    transition: all 0.3s ease-in;
}
.skillTitle {
    font-size: 1.5rem;
}
.skillPills {
    /* gap: 1rem; */
    padding: 10px;
    /* 20px; */
}
.skillPillButton {
    /* padding: 0 20px 0 20px; */
    margin: 10px 20px 10px 20px;
    border: none;
    /* background-color: #3AAFB9; */
    border-radius: 14px;
    /* color: white; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* padding: 16px 25px; */
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    outline: none;


}
.skillPillButton:hover {
    /* box-shadow: ; */
    /* -webkit-transition-duration:: */
    background-color: #d0d4d6;
    -webkit-transition-duration: 0.3s;
    transition: 0.3s ease;
    transform: translateY(-7px); 
    /* transform: translateY(-7px); */

}
@media (max-width: 768px) {
    /* .skills { */
    .skillCard {
        flex-wrap: wrap;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}