.rootdiv {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 15px;
    right: 30px;
}

.social-media-icons {
    color: white;
    font-size: 2rem;
    margin: 5px;
}

.social-media-icons:hover svg {
    color: #97C8EB;
}