.contactCardsWrapper {
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.contactCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.contactCard{
    height: auto;
    padding: 20px 0 20px 10px;
    width: 40%;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    text-align: center;
    transition: all 0.3s ease-in;
}
.contactCard:hover{
    background-color: #d0d4d6;

}
.email{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    word-break: break-word;
}
.email:hover {
    text-decoration: underline;
}
@media screen and (max-width: 801px) {
    .contactCardsWrapper {
        margin-left: 2rem;
        margin-right: 2rem;
      }
    .contactCard {
        width: 100%;
      }
}