.description {
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 10rem;
    max-width: 60rem;
    width: 90%;
    position: relative;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}
.description h2 {
    font-size: 2rem;
    color: #64E9EE;
}
.description h3 {
    margin-top: 0.5rem;
    color: white;
}
p {
    margin-top: 2rem;
    color: white;
}
.descriptionButton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.downloadButton{
    margin-top: 1em;
    margin-right: 1em;
    border: none;
    border-radius: 14px;
    text-align: center;
    font-size: 1rem;
    background-color: #64E9EE;
    color: #093A3E;
    font-weight: bold;
    padding: 10px 10px;
}
.downloadButton:hover {
    background-color: #3AAFB9;
    color: white;
    cursor:pointer;
}
.contactButton {
    margin-top: 1em;
    border: none;
    border-radius: 14px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    width: 200px;
    padding: 10px;
    word-break: break-word;   
}
.contactButton:hover{
    background-color: #97C8EB;
    cursor:pointer;
}