.description {
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 10rem;
    max-width: 60rem;
    width: 90%;
    position: relative;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}
.description h2 {
    font-size: 2rem;
    color: #64E9EE;
}
.description h3 {
    margin-top: 0.5rem;
    color: white;
}
p {
    margin-top: 2rem;
    color: white;
}